################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/WpfApp1/bin/Debug
/WpfApp1/bin/Release
/.vs
/TicketSystemDb/bin/Debug
/TicketSystemDb/obj/Debug
/TicketSystemDb/Import Schema Logs
/TicketSystemCmd/obj/Debug
/TicketSystemCmd/bin/Debug
